<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doação de orgãos</title>
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <header id="cabecalho">
        <img src="img/Logo.svg" alt="">
        <h1>Hospital Municipal<br><span style="visibility: hidden;">.....</span>Mariana Maria de Jesus</h1>
        <button class="beneficios"><a href="/motivacao">Benefícios</a></button>
        <button class="sobre"><a href="/sobre">Sobre</a></button>
        <button class="cadastre-se"><a href="/formulario">Cadastre-se</a></button>
    </header>

    <main id="conteudo">

    </main>

    <footer id="rodape">
        <p>“A medida da vida não é sua duração, mas a sua doação.”</p>
        <h3>Redes Sociais</h3>
        <img src="img/instagram.svg" alt="">
        <img src="img/whatsapp.svg" alt="">
        <img src="img/facebook.svg" alt="">
        <img src="img/youtube.svg" alt="">
    </footer>
</body>

</html>