#formulario {
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    padding: 3%;
    top: 5%;
    width: 40%;
    height: 500px;

    background-image: linear-gradient(180deg, #00700B 80.73%, #000501 100%);
    border: solid black 3px;
    border-radius: 5%;
}

#formulario #abrirFechar {
    position: relative;
    top: -3%;
    left: 98%;
}

#nome {
    position: relative;
    top: 5%;
    right: 3%;
}

#nome input {
    position: relative;
    top: 4%;
    right: 17%;
}

#data {
    position: relative;
    top: 20%;
    right: 0%;
}

#data input {
    position: relative;
    top: 4%;
    right: 17%;
}