<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agradecimento</title>
    <link rel="stylesheet" href="agradecimento.css">
</head>

<body>
    <header id="cabecalho">
        <img src="img/Imagem1.png" alt="">
        <div>
            Obrigado <%=resultado%>, pela colaboração!
        </div>
    </header>

    <main id="conteudo">
        
        <button id="voltar">
            <a href="/">Voltar</a>
        </button>
    </main>

    <footer id="rodape">

    </footer>
</body>

</html>