<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Benefícios</title>
    <link rel="stylesheet" href="motivacao.css">
    <link rel="stylesheet" href="formulario.css">
</head>

<body>
    <header id="cabecalho">
        <img src="img/Imagem1.png" alt="">
        <div>
            <p>Por que se tornar um doador?</p>
        </div>
    </header>

    <main id="conteudo">
        <section class="secao-1">
            <p>Uma única pessoa pode salvar mais de oito vidas!

                A doação de órgãos proporciona o prolongamento da expectativa de vida de pessoas que precisam de um
                transplante, permitindo o restabelecimento da saúde e, por consequência, a retomada das atividades
                normais. Devido ao número de partes do corpo que podem ser cedidas, cada doador pode salvar oito vidas
                ou mais.</p>
            <img src="img/download 1.png" alt="">
        </section>

        <section class="secao-2">
            <img src="img/images (1) 1.png" alt="">
            <p>Somadas, as doações de órgãos e tecidos possibilitaram que 27.688 transplantes fossem realizados em 2019,
                de acordo com o Ministério da Saúde.

                96% desses procedimentos são custeados pelo SUS (Sistema Único de Saúde), o que faz o Brasil ter o maior
                sistema público de transplantes do mundo e ser o segundo em total de cirurgias realizadas.</p>
        </section>

        <section class="secao-3">
            <p>No esforço de conscientizar a população sobre a necessidade de doar é que setembro foi estabelecido como
                o mês de incentivo à doação de órgãos com datas alusivas, como o Dia Nacional da Doação de Órgãos, em 27
                de setembro.</p>
            <img src="img/setembro-verde-laco_21384_img 1.png"
                alt="">
        </section>

        <div id="mainFormulario" class="input-group">
            <form class="container" action="/agradecimento" action="POST">
                <button id="abrirFechar" type="button">X</button>
                <label class="input-group label" for="nome">Nome Completo:<input id="nomeLabel" type="text"></label>
    
    
                <label class="input-group label" for="data">Data de Nascimento:</label>
                <input class="input-group input" type="date">
    
                <label class="input-group label" for="email">Email:</label>
                <input class="input-group input" type="email">
    
                <label class="input-group label" for="telefone">Telefone:</label>
                <input class="input-group input" type="number">
    
                <label class="input-group label" for="cep">CEP:</label>
                <input class="input-group input" type="number">
    
                <label class="input-group label" for="endereco">Endereço:</label>
                <input class="input-group input" type="text">
    
                <label class="input-group label" for="tipoSanguineo">Tipo sanguineo:</label>
                <input class="input-group input" type="text">
    
                <button type="submit">Cadastrar</button>
            </form>
        </div>  
    </main>

    <footer id="rodape">
        <button id="formularioBotao" class="serdoador">Quero ser um doador</a></button>
    </footer>

    <script src="formulario.js"></script>
</body>

</html>