body {
    background: -webkit-linear-gradient(left, #ffffff, #2d8cc3);
    background: -moz-linear-gradient(left, #ffffff, #2d8cc3);
    background: -ms-linear-gradient(left, #ffffff, #2d8cc3);
    background: -o-linear-gradient(left, #ffffff, #2d8cc3);
    background: linear-gradient(to right, #ffffff, #2d8cc3);
    background-attachment: fixed;
    margin: 0;
}

#cabeca {
    background: -webkit-linear-gradient(left, #ffffff, #2d8cc3);
    background: -moz-linear-gradient(left, #ffffff, #2d8cc3);
    background: -ms-linear-gradient(left, #ffffff, #2d8cc3);
    background: -o-linear-gradient(left, #ffffff, #2d8cc3);
    background: linear-gradient(to right, #ffffff, #2d8cc3);
    font-family: "Croissant One";
    font-size: 20pt;
    padding: 1%;
    color: black;
    text-align: center;
}

#menu {
    background-color: gray;
}

#menu a {
    color: black;
    text-decoration: none;
    display: block;
    float: left;
    padding: 1%;
}

#menu a:hover {
    background: -webkit-linear-gradient(left, #8c8585, #115d89);
    background: -moz-linear-gradient(left, #8c8585, #115d89);
    background: -ms-linear-gradient(left, #8c8585, #115d89);
    background: -o-linear-gradient(left, #8c8585, #115d89);
    background: linear-gradient(to right, #8c8585, #115d89);
    color: black;
}

#conteudo {
    clear: both;
}

.colunaLateral {
    text-align: center;
    box-sizing: border-box;
    float: left;
    padding: 1%;
    width: 20%;
}

#colunaCentro {
    text-align: center;
    box-sizing: border-box;
    float: left;
    height: 100%;
    padding: 1%;
    width: 100%;
}

#footer1{
    clear: both;
    text-align: center;
    font-size: 6pt;
    background-color: #2d8cc3;
}
.home{
    font-size: 20pt;
}
