<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre</title>
    <link rel="stylesheet" href="/[Exercício]-Um-servidor-acessado-via-localhost/public/style.css">
    <link rel="stylesheet" href="/[Exercício]-Um-servidor-acessado-via-localhost/public/formulario.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Croissant+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>


<body>
    <div id="cabeca">
        <h1>League of legends</h1>
    </div>
    <h1 style="text-align: center;">Sim, é só um jogo.</h1>
    <footer class="home"><%- include('home') %></footer>

    
</body>

</html>