<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercício</title>
    <link rel="stylesheet" href="style.css">
</head>


<body>
       <div id="formulario">
        <h1>Tecnologias sugeridas</h1>
    <ol>
        <li>Portugol Studio</li>
        <li>C++</li>
        <li>JavaScript</li>
        <li>HTML</li>
        <li>CSS</li>
        <li>Node.js</li>
        <li>Express.js</li>
        <li>EJS</li>
        <li>MongoDB</li>
        <li>React Native</li>
    </ol>
    <%- include ("rodape")%>
       </div>

</body>

</html>