<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercício</title>
</head>
<style>
    body {
        background-color: gray;
    }
    
    #formulario{
        position: absolute;
        background-color: orangered;
        border: solid 8px black;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
        height: 90%;
    }
    #formulario h1{
        text-align: center;
        position: absolute;
        top: 20%;
        left: 50%;
        width: 100%;
        transform: translate(-50%);
    }

</style>

<body>
       <div id="formulario">
        <h1>Tecnologias sugeridas</h1>
    <ol>
        <li>Portugol Studio</li>
        <li>C++</li>
        <li>JavaScript</li>
        <li>HTML</li>
        <li>CSS</li>
        <li>Node.js</li>
        <li>Express.js</li>
        <li>EJS</li>
        <li>MongoDB</li>
        <li>React Native</li>
    </ol>
    <tt><a href="/"><- Voltar</a></tt>
       </div>
</body>

</html>